@{
    Layout="master.cshtml";
}
@using SpiritOfLifeSanctuary.Controllers
@model dynamic

<div class="section clearfix" style="width:742px;">
<h2 style="font-weight:bold">@Model.name - <span style="font-weight:normal">@FacebookController.NiceDate( (DateTime)@Model.start_time ), @Model.start_time.Value.ToString("h:mmtt") to @Model.end_time.Value.ToString("h:mmtt")</span></h2>
<br>

<p style="font-size:11pt;margin-bottom:15px">
    @Model.description
</p>

</div>

            
            
